@import "tailwindcss";
@source "./**/*.{js,ts,jsx,tsx,mdx}";
@source "../components/**/*.{js,ts,jsx,tsx,mdx}";
@source "../lib/**/*.{js,ts,jsx,tsx,mdx}";

html {
  scroll-behavior: smooth;
}

body {
  background: #000;
  color: #fff;
}
